@using MvcLayoutApp.Models
@{
    ViewData["Title"] = "News page";
}
@model IEnumerable<NewsModel>

@foreach (var n in Model.Reverse())
    {
        <div class="card">
            <h2>@n.Title.ToUpper()</h2>
            <h5>@n.Title, @n.Date</h5>
            <div class="fakeimg" style="height:200px;">Изображение</div>
            <p><b><i>@n.Body</i></b></p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    }
